<ng-template #itemTemplate let-item="item.value" let-index="index">
  <div nz-col  nzSpan="24" class="field_edit">
    <div nz-col  nzSpan="2">{{index + 1}}</div>
    <div nz-col  nzSpan="8">
      {{item.fieldKey}}
    </div>
    <!--<div nz-col  nzSpan="6">
      {{item.fieldType == '0'?'固定值':'商品表字段'}}
    </div>-->
    <div nz-col  nzSpan="10">
      <div class="field_value_show" [innerHtml]="item.fieldValue"></div>
    </div>
    <div nz-col  nzSpan="4">
      <div nz-col  nzSpan="12">
        <button nz-button nzType="primary" (click)="showModel(item)">
          <i class="anticon anticon-edit" ></i>
        </button>
      </div>
      <div nz-col  nzSpan="12">
        <button nz-button nzType="primary" nz-popconfirm
                nzTitle="确认删除" nzOkText="确认" nzCancelText="取消"
                (nzOnConfirm)="deleteField(item,index)"
        ><i class="anticon anticon-delete"></i>
        </button>
      </div>
    </div>
  </div>
</ng-template>
<div nz-row>
  <div nz-col nzSpan="24" class="field_table">
    <div nz-col  nzSpan="24" class="field_table_header">
      <div nz-col  nzSpan="2">
        序号
      </div>
      <div nz-col  nzSpan="8">
        表头
      </div>
      <div nz-col  nzSpan="10">
        字段值
      </div>
      <div nz-col  nzSpan="2" style="">
        <div>
          <button nz-button nzType="primary" (click)="showModel()">
            <i class="anticon anticon-plus"></i></button>
        </div>
      </div>
      <div nz-col  nzSpan="2" style="">
        <nz-upload [nzBeforeUpload]="handleChange"
                   [nzAccept]="'text/csv,text/plain'"
                   [nzFileList] = "fileList"
                   [nzShowUploadList] = "false">
          <button nz-button  nzShape="circle">
            <i class="anticon anticon-upload"></i>
          </button>
        </nz-upload>
      </div>
    </div>
    <div nz-col  nzSpan="24" class="field_table_body">
      <bs-sortable
        (onChange) = "onChangeSorTable($event)"
        [(ngModel)]="fieldList"
        [itemTemplate]="itemTemplate"
        itemClass="sortable-item"
        itemActiveClass="sortable-item-active"
        placeholderClass="placeholderStyle"
        wrapperClass="sortable-wrapper"
      ></bs-sortable>
      <!--<pre class="code-preview">magentomodel: {{ itemObjectsLeft | json }}</pre>-->
    </div>
  </div>
</div>


<nz-modal [nzMaskClosable]="false"
          [nzWidth]="890"
          [nzStyle]="{'top':'55px'}"
          [nzBodyStyle]="{ 'background-color':'rgba(212, 202, 243, 0.11)'}"
          [(nzVisible)]="isVisible" [nzTitle]="modalTitle"
          [nzContent]="modalBody" [nzFooter]="modalFooter"
          (nzOnCancel)="handleCancel()">
  <ng-template #modalTitle>
    <h3 style="margin-bottom:0">{{ selectFielDetail.csvFieldId == null?'新增':'编辑'}}字段</h3>
  </ng-template>

  <ng-template #modalFooter>
    <button nz-button nzType="default" (click)="handleCancel()">取消</button>
    <button nz-button nzType="primary" (click)="handleOk()" [nzLoading]="">确认</button>
  </ng-template>
</nz-modal>

<ng-template #modalBody>
  <div nz-row>
    <div nz-col nzSpan="24" style="margin-bottom:10px">
      <div nz-col nzSpan="24">
        <span class="span_label_title">表头:</span>
        <input class="span_input" nz-input  [(ngModel)]="selectFielDetail.fieldKey">
      </div>
    </div>
    <div nz-col nzSpan="24">
      <div nz-col nzSpan="4">
        <h3 style="">自定义公式</h3>
        <div class="list-height-auto" style="max-height: 290px; margin-top: 5px;"
             [style.border]="csvCustomFields?.length==0?'':'1px solid #ccc'"
        >
          <nz-list [nzDataSource]="csvCustomFields"
                   nzSize="small"
                   [nzRenderItem]="item2">
            <ng-template #item2 let-item2>
              <nz-list-item (click)="clickFun(item2,1)" [nzContent]="item2.cfieldNm"></nz-list-item>
            </ng-template>
          </nz-list>
        </div>
      </div>
      <div nz-col nzSpan="1"></div>
      <div nz-col nzSpan="5">
        <div class="field_div_height">
          <div style="float: left; margin-bottom: 5px;">
            <h3><div style="float: left;width: 56px">表字段</div>
              <div style="float: left;width: 158px">
                <nz-input-group nzSearch [nzSuffix]="suffixIconButton">
                  <input type="text" nz-input placeholder="表字段" [(ngModel)]="selectSrc">
                </nz-input-group>
              </div>
              <ng-template #suffixIconButton>
                <button nz-button nzType="primary" nzSearch (click)="selectSrcFun(selectSrc)"><i class="anticon anticon-search"></i></button>
              </ng-template>
            </h3>
          </div>
          <div class="list-height-auto" style="height: 290px;float: left;width: 100%"
               [style.border]="'1px solid #ccc'"
          >
            <nz-list [nzDataSource]="data"
                     nzSize="small"
                     [nzRenderItem]="item">
              <ng-template #item let-item>
                <nz-list-item (click)="clickFun(item,0)" [nzContent]="item.sysNm"></nz-list-item>
              </ng-template>
            </nz-list>
          </div>
        </div>
      </div>
      <div nz-col nzSpan="1"></div>
      <div nz-col nzSpan="13">
        <div class="field_div_height">
          <div editDiv="true" class="field_input_div" style="height: 354px"
               #editDiv1
               (keyup)="saveRange()"
               (click)="saveRange();"
               contenteditable="true"></div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
