/* You can add global styles to this file, and also import other style files */
@import "node_modules/ng-zorro-antd/src/ng-zorro-antd.min.css";

.u-leaveOut {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.stop-propagation{
  color: #009fffb0;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: inline-block;
  background-color: #ccc6;
  padding: 0 5px;
  margin: 0 3px 3px 3px;
}

.padding_0_3{
  padding: 0 3px;
}
