<div nz-row style="margin-bottom:20px">
  <div nz-col nzSpan="6" >
    <nz-input-group nzSearch [nzSuffix]="suffixIconButton">
      <input type="text" nz-input placeholder="销售订单号" [(ngModel)]="websiteOrderNo">
    </nz-input-group>
    <ng-template #suffixIconButton>
      <button nz-button nzType="primary" nzSearch (click)="selectData()"><i class="anticon anticon-search"></i></button>
    </ng-template>
  </div>
</div>
<nz-table
  #rowSelectionTable
  nzBordered
  [nzData]="displayData"
  [nzTitle]="'同步失败订单列表'"
  [nzPageSize]="20"
  (nzCurrentPageDataChange)="currentPageDataChange($event)">
  <thead>
  <tr>
    <th nzWidth="140px">订单号</th>
    <th >错误信息</th>
    <th nzWidth="80px">网站ID</th>
    <th nzWidth="170px">出错时间</th>
    <th nzWidth="40px">
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of rowSelectionTable.data ;let i = index">
    <td>{{data.websiteOrderNo}}</td>
    <td>
      <p class="u-leaveOut p_width_580" title="{{data.errorInfo }}">{{data.errorInfo }}</p>
    </td>
    <td>{{data.websiteId}}</td>
    <td>{{data.updtTs}}</td>
    <td>
      <div nz-row style="text-align: center">
        <div nz-col nzSpan="8">
          <button nz-button nzType="primary" nz-popconfirm
                  nzTitle="确认删除" nzOkText="确认" nzCancelText="取消"
                  (nzOnConfirm)="delete(data)"
          ><i class="anticon anticon-delete"></i>
          </button>
        </div>
      </div>
    </td>
  </tr>
  </tbody>
</nz-table>
