<div nz-row>
  <div nz-col  nzSpan="24" style="margin-bottom: 16px">
    <span class="span_label_title">模板名称</span>
    <input class="select_input" nz-input [(ngModel)]="selectTemplateInfo.csvtempNm">
    <span class="span_label_title">平台选择</span>
    <nz-select class="select_input"
               [(ngModel)]="selectTemplateInfo.platformNm" (ngModelChange)="provinceAllChange(0,$event)"
               nzAllowClear nzShowSearch
               [nzServerSearch]="true" (nzOnSearch)="onSearchByPlat($event)">
      <ng-container *ngFor="let o of platList">
        <nz-option *ngIf="!platIsLoading"
                   [nzValue]="o.platformId" [nzLabel]="o.platformNm"></nz-option>
      </ng-container>
      <nz-option *ngIf="platIsLoading" nzDisabled nzCustomContent>
        <i class="anticon anticon-loading anticon-spin loading-icon"></i> Loading Data...
      </nz-option>
    </nz-select>
    <span class="span_label_title">账号选择</span>
    <nz-select class="select_input"  nzShowSearch nzAllowClear
               [(ngModel)]="selectTemplateInfo.pfaccountNm"
               (ngModelChange)="provinceAllChange(1,$event)"
               [nzDisabled]="selectTemplateInfo.platformNm == null || selectTemplateInfo.platformNm == ''">
      <nz-option *ngFor="let c of accountList"
                 [nzValue]="c.pfaccountId" [nzLabel]="c.pfaccountNm"></nz-option>
    </nz-select>
  </div>
  <div nz-col  nzSpan="24" style="margin-bottom: 16px">
    <span class="span_label_title">产品分类</span>
    <nz-select class="select_input"
               [(ngModel)]="selectTemplateInfo.ptypeNm"
               nzShowSearch nzAllowClear (ngModelChange)="provinceAllChange(2,$event)">
      <nz-option *ngFor="let c of pTypeList"
                 nz-tooltip nzTitle="{{c.typeName}}"
                 [nzValue]="c.ptypeId" [nzLabel]="c.typeName"></nz-option>
    </nz-select>
    <span class="span_label_title">供应商</span>
    <nz-select class="select_input"
               [(ngModel)]="selectTemplateInfo.sNm"
               nzShowSearch nzAllowClear (ngModelChange)="provinceAllChange(3,$event)">
      <nz-option *ngFor="let c of supplierList"
                 nz-tooltip nzTitle="{{c.supplierTitle}}"
                 [nzValue]="c.sId" [nzLabel]="c.supplierTitle"></nz-option>
    </nz-select>
  </div>
</div>
<div style="margin-bottom: 16px;">
  <button nz-button
          [nzType]="'primary'" [nzLoading]="operating" (click)="operateData(selectTemplateInfo)">
    搜索
  </button>
</div>
<nz-table
  #rowSelectionTable
  nzBordered
  [nzData]="dataSet"
  [nzTitle]="'模板列表'"
  [nzPageSize]="5"
  (nzCurrentPageDataChange)="currentPageDataChange($event)">
  <thead>
  <tr>
    <th>模板名称</th>
    <th>平台名称</th>
    <th>平台账号</th>
    <th>产品分类名称</th>
    <th>供应商名称</th>
    <th>加入时间</th>
    <th>备注</th>
    <th>
      <div nz-row style="text-align: center">
      <button nz-button nzType="primary" (click)="showModal(0,0)">
        <i class="anticon anticon-plus"></i></button>
      </div>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of rowSelectionTable.data ;let i = index">
    <td>{{data.csvtempNm}}</td>
    <td>{{data.platformNm}}</td>
    <td>{{data.pfaccountNm}}</td>
    <td>{{data.ptypeNm}}</td>
    <td>{{data.sNm}}</td>
    <td>{{data.joinDate | DatePipe: "yyyy-MM-dd HH:mm" }}</td>
    <td>{{data.memo}}</td>
    <td>
      <div nz-row style="text-align: center">
        <div nz-col nzSpan="12">
          <button nz-button nzType="primary" nz-popconfirm
                  nzTitle="确认编辑" nzOkText="编辑字段" nzCancelText="编辑模板"
                  (nzOnConfirm)="confirm(data)" (nzOnCancel)="cancel(data)">
            <i class="anticon anticon-edit" ></i>
          </button>
        </div>
        <!--<div nz-col nzSpan="8">
          <button nz-button nzType="primary" (click)="showModal(i,0,data)"><i class="anticon anticon-copy"></i>
          </button>
        </div>-->
        <div nz-col nzSpan="12">
          <button nz-button nzType="primary" nz-popconfirm
                  nzTitle="确认删除" nzOkText="确认" nzCancelText="取消"
                  (nzOnConfirm)="delete(0,data)"
          ><i class="anticon anticon-delete"></i>
          </button>
        </div>
      </div>
    </td>
  </tr>
  </tbody>
</nz-table>


<nz-modal [nzMaskClosable]="false"
  [nzWidth]="modalType==2?650:650" [nzStyle]="{top:modalType==2?'30px':'30px'}"
          [nzBodyStyle]="modalType==2?{
          'height':'460px',
           'overflow-y':'auto'}:{}"
  [(nzVisible)]="isVisible" [nzTitle]="modalTitle" [nzContent]="modalType==2?fieldeid:tempedit" [nzFooter]="modalFooter"
          (nzOnCancel)="handleCancel()">
  <ng-template #modalTitle>
    <h3 style="margin-bottom:0">{{titleList[modalType]}}</h3>
  </ng-template>
  <ng-template #modalFooter>
    <button nz-button nzType="default" (click)="handleCancel()">取消</button>
    <button nz-button nzType="primary" (click)="handleOk(modalType,templateInfo,fieldList)" [nzLoading]="isConfirmLoading">确认</button>
  </ng-template>
</nz-modal>



<ng-template #tempedit>
  <app-tempedit [platList]="platList"
                [pTypeList]="pTypeList" [supplierList]="supplierList"></app-tempedit>
</ng-template>
<ng-template #fieldeid style=" height: 480px;overflow-y: auto;">
  <app-fieldedit [fieldList]="fieldList"></app-fieldedit>
</ng-template>
