<div nz-row style="margin-bottom:20px">
  <div nz-col nzSpan="6" >
    <nz-input-group nzSearch [nzSuffix]="suffixIconButton">
      <input type="text" nz-input placeholder="平台名称" [(ngModel)]="pfnm">
    </nz-input-group>
    <ng-template #suffixIconButton>
      <button nz-button nzType="primary" nzSearch (click)="selectPlat(pfnm)"><i class="anticon anticon-search"></i></button>
    </ng-template>
  </div>
</div>
<div nz-row style="text-align: center;">
  <div nz-col nzSpan="12"
       style="
    border: 1px solid #ccc;
    border-right: 0;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    padding: 15px 23px;
    padding-right: 0;
    min-height: 605px;
">
    <div class="" nz-row style="
      background-color: #e8e8e8;
      line-height: 40px;
      padding: 5px;
      font-size: 18px;
      font-weight: 600;
      border-bottom: 1px solid #ccc;
      border-right: 1px solid #ccc;"
    >
      <div nz-col nzSpan="2">序号</div>
      <div nz-col nzSpan="8">平台</div>
      <div nz-col nzSpan="4">平台类型</div>
      <div nz-col nzSpan="6">备注</div>
      <div nz-col nzSpan="4">
        <div nz-col nzSpan="24">
          <button nz-button nzType="primary" (click)="showModal(0,0)"><i class="anticon anticon-plus"></i></button>
        </div>
      </div>
    </div>

    <div class="plat" nz-row
         style="min-height: 522px;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;">
      <div *ngFor="let plat of platList;let i = index" class="plat-div" nz-row
           (click)="clickPlat(i,plat)" [ngClass]="{'active':(selectPlatIndex == i)}">
        <div nz-col nzSpan="2">{{i+1}}</div>
        <div nz-col nzSpan="8">{{plat.platformNm}}</div>
        <div nz-col nzSpan="4" [ngSwitch]="plat.platformType">
          <span *ngSwitchCase="1">英文</span>
          <span *ngSwitchCase="2">日文</span>
          <span *ngSwitchCase="3">中文</span>
          <span *ngSwitchDefault>中文</span>
        </div>
        <div nz-col nzSpan="6">{{plat.memo}}</div>
        <div nz-col nzSpan="4">
          <div nz-col nzSpan="12">
            <button nz-button nzType="primary" (click)="showModal(i,1,plat)"><i class="anticon anticon-edit"></i></button>
          </div>
          <div nz-col nzSpan="12">
            <button nz-button nzType="primary" (click)="delete(0,plat.platformId)"><i class="anticon anticon-delete"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div nz-col nzSpan="12"
       style="
    border: 1px solid #ccc;
    border-left: 0;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    padding: 15px 23px;
    padding-left: 0;
    min-height: 605px;
">
    <div class="account-div" nz-row style="
      line-height: 40px;
      padding: 5px;
      font-size: 18px;
      font-weight: 600;
      background-color: #e8e8e8;">
      <div nz-col nzSpan="2">序号</div>
      <div nz-col nzSpan="10">用户名称</div>
      <div nz-col nzSpan="8">备注</div>
      <div nz-col nzSpan="4">
        <div nz-col nzSpan="24">
          <button nz-button nzType="primary" [disabled]="platList[selectPlatIndex]==null"
                  (click)="showModal(0,2)"><i class="anticon anticon-plus"></i></button>
        </div>
      </div>
    </div>
    <div nz-row
         style="min-height: 522px;
    background-color: #14e5fa17;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;">

      <div *ngFor="let account of accountList ;let i = index" class="account-div" nz-row>
        <div nz-col nzSpan="2">{{i+1}}</div>
        <div nz-col nzSpan="10">{{account.pfaccountNm}}</div>
        <div nz-col nzSpan="8">{{account.memo}}</div>
        <div nz-col nzSpan="4">
          <div nz-col nzSpan="12">
            <button nz-button nzType="primary" (click)="showModal(i,3,account)"><i class="anticon anticon-edit"></i>
            </button>
          </div>
          <div nz-col nzSpan="12">
            <button nz-button nzType="primary" (click)="delete(1,account.pfaccountId)"><i class="anticon anticon-delete"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!--<nz-demo-mention-preview></nz-demo-mention-preview>-->

<nz-modal [(nzVisible)]="isVisible" [nzTitle]="modalTitle" [nzContent]="modalContent" [nzFooter]="modalFooter"
          (nzOnCancel)="handleCancel()">
  <ng-template #modalTitle>
    <h3 style="margin-bottom:0">{{titleList[modalType]}}</h3>
  </ng-template>

  <ng-template #modalContent>
    <div *ngIf="modalType == 1 || modalType == 0">
      <div>
        <h3>平台名称:</h3>
        <textarea nz-input  [(ngModel)]="platInfo.platformNm" placeholder="平台名称" nzAutosize></textarea>
        <div style="margin:24px 0;"></div>
        <h3>平台类型:</h3>
        <nz-select style="width: 120px;" [(ngModel)]="platInfo.platformType" nzAllowClear nzPlaceHolder="Choose">
          <nz-option nzValue="1" nzLabel="英文"></nz-option>
          <nz-option nzValue="2" nzLabel="日文"></nz-option>
          <nz-option nzValue="3" nzLabel="中文"></nz-option>
        </nz-select>
        <div style="margin:24px 0;"></div>
        <h3>备注:</h3>
        <textarea nz-input [(ngModel)]="platInfo.memo" placeholder="备注" [nzAutosize]="{ minRows: 2, maxRows: 6 }"></textarea>
      </div>
    </div>
    <div *ngIf="modalType == 2 || modalType == 3">
      <div>
        <h3>账号:</h3>
        <textarea nz-input  [(ngModel)]="accountInfo.pfaccountNm" placeholder="账号" nzAutosize></textarea>
        <div style="margin:24px 0;"></div>
        <h3>备注:</h3>
        <textarea nz-input [(ngModel)]="accountInfo.memo" placeholder="备注" [nzAutosize]="{ minRows: 2, maxRows: 6 }"></textarea>
      </div>
    </div>
  </ng-template>

  <ng-template #modalFooter>
    <button nz-button nzType="default" (click)="handleCancel()">取消</button>
    <button nz-button nzType="primary" (click)="handleOk(modalType)" [nzLoading]="isConfirmLoading">确认</button>
  </ng-template>
</nz-modal>
