<nz-layout class="layout">
  <app-header></app-header>
  <nz-layout>
    <nz-sider [nzWidth]="200" style="background:#fff">
      <app-menu></app-menu>
    </nz-sider>
    <nz-layout style="padding:24px">
      <!--<nz-breadcrumb style="margin:16px 0;">-->
        <!--<nz-breadcrumb-item>Home</nz-breadcrumb-item>-->
        <!--<nz-breadcrumb-item>List</nz-breadcrumb-item>-->
        <!--<nz-breadcrumb-item>App</nz-breadcrumb-item>-->
      <!--</nz-breadcrumb>-->
      <nz-content style="background:#fff; padding: 24px; min-height: calc(100vh - 112px);">
        <router-outlet>

        </router-outlet>
        <div *ngIf="loading" id="loading" class="init-loading" >
          <!--<img src="./assets/img/loading.gif"/>-->

          <div id="loading-center">

          </div>
          <div id="loading-center-absolute">
              <nz-spin [nzSpinning]="loading" [nzSize]="'large'"></nz-spin >
          </div>
        </div>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>
