<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.csv.java.dao.CsvCustmerFieldDao" >


    <select id="findCsvCustmerField" parameterType="java.lang.Integer"  resultType="CsvCustmerFieldDto">
        SELECT
            CSVCUSTMER_FIELD_ID csvCustmerFieldId,
            CSVTEMP_ID csvtempId,
            CFIELD_TYPE cfieldType,
            CFIELD_NM cfieldNm,
            CFIELD_VALUE cfieldValue
        FROM t_csvcustomer_field
        WHERE CFIELD_TYPE = 0
        and  CSVTEMP_ID = #{csvtempId,jdbcType=INTEGER}
    </select>

    <update id="updCustmerFieldById" parameterType="CsvCustmerFieldDto"  >
        UPDATE t_csvcustomer_field
        set
            CFIELD_NM =  #{cfieldNm,jdbcType=VARCHAR} ,
            CFIELD_VALUE =  #{cfieldValue,jdbcType=VARCHAR},
            UPDT_BY = #{logId,jdbcType=INTEGER},
            UPDT_TS =CURRENT_TIMESTAMP()
        WHERE  CFIELD_TYPE = 0
        and CSVCUSTMER_FIELD_ID = #{csvCustmerFieldId,jdbcType=INTEGER}
    </update>

    <delete id="delCustmerFieldBycsvtempId" parameterType="java.lang.Integer">
        delete from
        t_csvcustomer_field  WHERE  CSVTEMP_ID = #{csvtempId,jdbcType=INTEGER}
    </delete>
</mapper>