<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ewiderbuy.produce.dao.CsvTemplateInfoDao" >
    <!-- 查询条件 -->
    <sql id="forcondi">
        <if test="platformId !=null and platformId !=0">
            AND t.PLATFORM_ID = #{platformId,jdbcType=INTEGER}
        </if>
        <if test="pfaccountId !=null and pfaccountId !=0">
            AND t.PFACCOUNT_ID = #{pfaccountId,jdbcType=INTEGER}
        </if>
        <if test="ptypeId !=null and ptypeId !=0">
            AND t.PTYPEID = #{ptypeId,jdbcType=INTEGER}
        </if>
        <if test="sId !=null and sId !=0">
            AND t.SID = #{sId,jdbcType=INTEGER}
        </if>
        <if test="csvtempNm !=null and csvtempNm !=''">
            AND   t.CSVTEMP_NM like  CONCAT('%', #{csvtempNm,jdbcType=VARCHAR}, '%')
        </if>
    </sql>

    <select id="findCsvTempInfoById" parameterType="java.lang.Integer"  resultType="CsvTemplateInfoDto">
        SELECT
            CSVTEMP_ID csvtempId,
            PLATFORM_ID platformId,
            PFACCOUNT_ID pfaccountId,
            PTYPEID ptypeId,
            SID sId,
            CSVTEMP_NM csvtempNm,
            LOW_EXPR lowExpr,
            GD_EXPR gdExpr,
            ORIGI_EXPR origiExpr,
            IS_USE isUse,
            JOIN_BY joinBy,
            JOIN_DATE joinDate,
            MEMO memo,
            HEAD_SHOW headShow
        FROM t_csvtemplate_info
        WHERE  CSVTEMP_ID = #{csvtempId,jdbcType=INTEGER}
    </select>

    <select id="findCsvTempInfoByCondi" parameterType="CsvTemplateInfoDto"  resultType="CsvTemplateInfoDto">
        SELECT
            t.CSVTEMP_ID csvtempId,
            t.PLATFORM_ID platformId,
            t.PFACCOUNT_ID pfaccountId,
            t.PTYPEID ptypeId,
            t.SID sId,
            t.CSVTEMP_NM csvtempNm,
            t.LOW_EXPR lowExpr,
            t.GD_EXPR gdExpr,
            t.ORIGI_EXPR origiExpr,
            t.IS_USE isUse,
            t.JOIN_BY joinBy,
            t.JOIN_DATE joinDate,
            t.MEMO memo,
            t.HEAD_SHOW headShow,
            pf.PLATFORM_NM platformNm,
            pfac.PFACCOUNT_NM pfaccountNm,
            pt.typename ptypeNm,
            s.suppliertitle sNm
        FROM t_csvtemplate_info t
        left join t_platform_info pf on t.PLATFORM_ID = pf.PLATFORM_ID
        left join t_pf_account pfac on t.PFACCOUNT_ID = pfac.PFACCOUNT_ID
        left join t_supplier s on t.SID= s.id
        left join t_ptype pt on t.PTYPEID = pt.id
        WHERE 1=1
        <include refid="forcondi"></include>
        order by t.JOIN_DATE desc
    </select>

    <select id="checkCsvTempInfoOnly" parameterType="CsvTemplateInfoDto"  resultType="java.lang.Integer">
        SELECT count(*)
        FROM t_csvtemplate_info
        WHERE
         PLATFORM_ID = #{platformId,jdbcType=INTEGER}
        AND PFACCOUNT_ID = #{pfaccountId,jdbcType=INTEGER}
        AND PTYPEID = #{ptypeId,jdbcType=INTEGER}
        AND SID = #{sId,jdbcType=INTEGER}
    </select>

    <select id="checkCsvTempNmOnly" parameterType="CsvTemplateInfoDto"  resultType="java.lang.Integer">
        SELECT count(*)
        FROM t_csvtemplate_info
        WHERE
         CSVTEMP_NM = #{csvtempNm,jdbcType=VARCHAR}
         and CSVTEMP_ID &lt;> #{csvtempId,jdbcType=INTEGER}
    </select>

    <select id="chkAddCsvTempNmOnly" parameterType="java.lang.String"  resultType="java.lang.Integer">
        SELECT count(*)
        FROM t_csvtemplate_info
        WHERE
        CSVTEMP_NM = #{csvtempNm,jdbcType=VARCHAR}
    </select>

    <insert id="insertCsvTempInfo" parameterType="CsvTemplateInfoDto" useGeneratedKeys="true" keyProperty="csvtempId">

        insert into t_csvtemplate_info
            (
            PLATFORM_ID ,
            PFACCOUNT_ID ,
            PTYPEID ,
            SID ,
            CSVTEMP_NM ,
            LOW_EXPR ,
            GD_EXPR ,
            ORIGI_EXPR ,
            IS_USE ,
            JOIN_BY ,
            JOIN_DATE ,
            MEMO ,
            HEAD_SHOW,
            UPDT_BY,
            UPDT_TS)
        VALUES(
            #{platformId,jdbcType=INTEGER},
            #{pfaccountId,jdbcType=INTEGER},
            #{ptypeId,jdbcType=INTEGER},
            #{sId,jdbcType=INTEGER},
            #{csvtempNm,jdbcType=VARCHAR},
            #{lowExpr,jdbcType=VARCHAR},
            #{gdExpr,jdbcType=VARCHAR},
            #{origiExpr,jdbcType=VARCHAR},
            #{isUse,jdbcType=INTEGER},
            #{logId,jdbcType=INTEGER},
            now(),
            #{memo,jdbcType=VARCHAR},
            #{headShow,jdbcType=INTEGER},
            #{logId,jdbcType=INTEGER},
            CURRENT_TIMESTAMP())

    </insert>

    <delete id="delCsvTempInfoById" parameterType="java.lang.Integer">
        delete from
        t_csvtemplate_info  WHERE  CSVTEMP_ID = #{csvtempId,jdbcType=INTEGER}
    </delete>

    <update id="updCsvTempInfoById" parameterType="CsvTemplateInfoDto">
        update t_csvtemplate_info
        set
            PLATFORM_ID =#{platformId,jdbcType=INTEGER},
            PFACCOUNT_ID =#{pfaccountId,jdbcType=INTEGER},
            PTYPEID =#{ptypeId,jdbcType=INTEGER},
            SID =#{sId,jdbcType=INTEGER},
            CSVTEMP_NM =#{csvtempNm,jdbcType=VARCHAR} ,
            LOW_EXPR =#{lowExpr,jdbcType=VARCHAR},
            GD_EXPR =#{gdExpr,jdbcType=VARCHAR},
            ORIGI_EXPR =#{origiExpr,jdbcType=VARCHAR} ,
            IS_USE =#{isUse,jdbcType=INTEGER},
            MEMO =  #{memo,jdbcType=VARCHAR},
            HEAD_SHOW=#{headShow,jdbcType=INTEGER},
            UPDT_BY = #{logId,jdbcType=INTEGER},
            UPDT_TS =CURRENT_TIMESTAMP()
        WHERE  CSVTEMP_ID = #{csvtempId,jdbcType=INTEGER}
    </update>

</mapper>