<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.csv.java.dao.GenerateErrorDao" >


    <select id="findErrOrderNo" parameterType="java.lang.Integer"  resultType="GenerateErrorDto">
        SELECT
            Generate_Error_Id generateErrorId,
            WEBSITE_ORDER_NO websiteOrderNo,
            WEBSITE_ID websiteId,
            Error_Info errorInfo
        FROM T_Generate_Error
        WHERE WEBSITE_ID = #{websiteId,jdbcType=INTEGER}
        and    del_flag = 0
    </select>

    <insert id="insertGenerateError" parameterType="GenerateErrorDto">

        insert into T_Generate_Error
        (
            WEBSITE_ORDER_NO ,
            WEBSITE_ID ,
            Error_Info,
            del_flag,
            UPDT_BY,
            UPDT_TS
        )
        VALUES(
            #{websiteOrderNo,jdbcType=VARCHAR},
            #{websiteId,jdbcType=INTEGER},
            #{errorInfo,jdbcType=VARCHAR},
            0,
            2,
            CURRENT_TIMESTAMP()
        )
    </insert>

    <delete id="delGenerateError" parameterType="GenerateErrorDto">
        delete from
        T_Generate_Error  WHERE  WEBSITE_ID = #{websiteId,jdbcType=INTEGER}
        and WEBSITE_ORDER_NO = #{websiteOrderNo,jdbcType=VARCHAR}
    </delete>

    <update id="updDelFlag" parameterType="GenerateErrorDto">
        update  T_Generate_Error
          set    del_flag = 1
          WHERE  Generate_Error_Id = #{generateErrorId,jdbcType=INTEGER}
    </update>
</mapper>