<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.csv.java.dao.OrderDetailDao" >

    <insert id="insertOrderDetailInfo"  parameterType="OrderDetailDto">

        insert into t_order_detail
            (
                orderid,
                dorderno,
                confirmdate,
                sku,
                sizeid,
                dealmodeid,
                dealmgrid,
                dealdate,
                thflag,
                joindate,
                qty,
                customerrequest,
                dorderstatus,
                fhdate,
                expressno,
                expressway,
                transferCorp,
                sendsysno,
                sendJapan,
                pid,
                deleflag,
                delReason,
                delDatetime,
                delMgrid,
                propertyid,
                mgrid,
                whw,
                reportissent,
                isreceive,
                tt_mgrid,
                exp_num,
                exp_datetime,
                flag,
                flaga,
                PurchaseNo,
                SExpressNo,
                isComplete,
                completeDate,
                arrive_expressno,
                arrive_date,
                arrive_mgrid
            )
        VALUES(
            #{orderId,jdbcType=INTEGER},
            #{dOrderNo,jdbcType=VARCHAR},
            str_to_date(#{confirmDate,jdbcType=VARCHAR},'%Y-%m-%d'),
            #{sku,jdbcType=VARCHAR},
            #{sizeId,jdbcType=INTEGER},
            #{dealModeId,jdbcType=INTEGER},
            #{dealMgrId,jdbcType=INTEGER},
            str_to_date(#{dealDate,jdbcType=VARCHAR},'%Y-%m-%d'),
            #{thFlag,jdbcType=TINYINT},
            str_to_date(#{joinDate,jdbcType=VARCHAR},'%Y-%m-%d %H'),
            #{qty,jdbcType=INTEGER},
            #{customerRequest,jdbcType=VARCHAR},
            #{dOrderStatus,jdbcType=INTEGER},
            str_to_date(#{fhDate,jdbcType=VARCHAR},'%Y-%m-%d'),
            #{expressNo,jdbcType=VARCHAR},
            #{expressWay,jdbcType=VARCHAR},
            #{transferCorp,jdbcType=TINYINT},
            #{sendSysNo,jdbcType=VARCHAR},
            #{sendJapan,jdbcType=TINYINT},
            #{pid,jdbcType=INTEGER},
            #{deleFlag,jdbcType=TINYINT},
            #{delReason,jdbcType=VARCHAR},
            str_to_date(#{delDatetime,jdbcType=VARCHAR},'%Y-%m-%d %H'),
            #{delMgrid,jdbcType=INTEGER},
            #{propertyId,jdbcType=TINYINT},
            #{mgrId,jdbcType=INTEGER},
            #{whw,jdbcType=INTEGER},
            #{reportIsSent,jdbcType=TINYINT},
            #{isReceive,jdbcType=TINYINT},
            #{ttMgrId,jdbcType=INTEGER},
            #{expNum,jdbcType=TINYINT},
            str_to_date(#{expDatetime,jdbcType=VARCHAR},'%Y-%m-%d %H'),
            #{flag,jdbcType=TINYINT},
            #{flaga,jdbcType=TINYINT},
            #{purchaseNo,jdbcType=VARCHAR},
            #{sExpressNo,jdbcType=VARCHAR},
            #{isComplete,jdbcType=TINYINT},
            str_to_date(#{completeDate,jdbcType=VARCHAR},'%Y-%m-%d %H'),
            #{arriveExpressno,jdbcType=VARCHAR},
           str_to_date(#{arriveDate,jdbcType=VARCHAR},'%Y-%m-%d'),
            #{arriveMgrId,jdbcType=INTEGER}
                )

    </insert>

</mapper>