<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ewiderbuy.produce.dao.OrderDao" >
    <sql id="queryFrom">
        <if test="dhStartDt !=null and dhStartDt !=''">
            AND dhrq &gt;=str_to_date(#{dhStartDt,jdbcType=VARCHAR},'%Y-%m-%d')
        </if>
        <if test="dhEndDt !=null and dhEndDt !=''">
            AND dhrq &lt;= str_to_date(#{dhEndDt,jdbcType=VARCHAR},'%Y-%m-%d')
        </if>
    </sql>
    <select id="findOrderNulPay" parameterType="OrderCondiInDto"  resultType="OrderDto">
        SELECT t.id orderId, t.websiteorderno websiteorderno, t.paymentid paymentid
          FROM t_order t
         inner join (select orderid
                       from t_order_detail
                       where deleflag = 0
                       group by orderid
                      ) dtl on t.id = dtl.orderid
         WHERE t.websiteid = #{websiteid,jdbcType = INTEGER}
           and ((t.paymentid = 6 and t.orderstatus = 6) or
               (t.paymentid = 2 and t.orderstatus in (6, -1)))
           and t.systype = 1
    </select>

    <insert id="insertOrderInfo" useGeneratedKeys="true" keyProperty="orderId" parameterType="OrderDto">

        insert into t_order
            (
                dhrq,
                websiteorderno,
                webuserid,
                xdrq,
                zdrq,
                ydrq,
                orderstatus,
                sqr_bak_old,
                sqr,
                jiaming,
                zipcode,
                address,
                address2,
                deliverytime,
                email,
                totalprice,
                websiteid,
                paymentid,
                wcrq,
                gjdq,
                phone,
                currency,
                contents,
                isfh,
                fhdate,
                tracknumber,
                countryid,
                trackurl,
                joindate,
                mgrid,
                detflag,
                modifyflag,
                systype
            )
        VALUES(
                str_to_date(#{dhrq,jdbcType=VARCHAR},'%Y-%m-%d'),
                #{websiteorderno,jdbcType=VARCHAR},
                #{webuserid,jdbcType=VARCHAR},
                str_to_date(#{xdrq,jdbcType=VARCHAR},'%Y-%m-%d'),
                str_to_date(#{zdrq,jdbcType=VARCHAR},'%Y-%m-%d'),
                str_to_date(#{ydrq,jdbcType=VARCHAR},'%Y-%m-%d'),
                #{orderstatus,jdbcType=INTEGER},
                #{sqr_bak_old,jdbcType=VARCHAR},
                #{sqr,jdbcType=VARCHAR},
                #{jiaming,jdbcType=VARCHAR},
                #{zipcode,jdbcType=VARCHAR},
                #{address,jdbcType=VARCHAR},
                #{address2,jdbcType=VARCHAR},
                #{deliverytime,jdbcType=VARCHAR},
                #{email,jdbcType=VARCHAR},
                #{totalprice,jdbcType=DECIMAL},
                #{websiteid,jdbcType=INTEGER},
                #{paymentid,jdbcType=INTEGER},
                str_to_date(#{wcrq,jdbcType=VARCHAR},'%Y-%m-%d'),
                #{gjdq,jdbcType=VARCHAR},
                #{phone,jdbcType=VARCHAR},
                #{currency,jdbcType=VARCHAR},
                #{contents,jdbcType=VARCHAR},
                #{isfh,jdbcType=TINYINT},
                str_to_date(#{fhdate,jdbcType=VARCHAR},'%Y-%m-%d'),
                #{tracknumber,jdbcType=VARCHAR},
                #{countryid,jdbcType=INTEGER},
                #{trackurl,jdbcType=VARCHAR},
                sysdate(),
                #{mgrid,jdbcType=INTEGER},
                #{detflag,jdbcType=TINYINT},
                #{modifyflag,jdbcType=TINYINT},
                1
                )

    </insert>

    <update id="updOrderstatusById" parameterType="OrderDto">
        update t_order
        set orderstatus =  #{orderstatus,jdbcType=INTEGER}
        where id = #{orderId,jdbcType=INTEGER}
    </update>

</mapper>