<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ewiderbuy.produce.dao.PfaccountDao" >
    <select id="findPfaccountByPfid" parameterType="java.lang.Integer"  resultType="PfaccountDto">
        SELECT
            PFACCOUNT_ID pfaccountId,
            PFACCOUNT_NM pfaccountNm,
            PLATFORM_ID platformId,
            MEMO memo
        FROM t_pf_account
        WHERE  PLATFORM_ID = #{pfId,jdbcType=INTEGER}
    </select>

    <select id="findPfaccountByPfacid" parameterType="java.lang.Integer"  resultType="PfaccountDto">
        SELECT
        PFACCOUNT_ID pfaccountId,
        PFACCOUNT_NM pfaccountNm,
        PLATFORM_ID platformId,
        MEMO memo
        FROM t_pf_account
        WHERE  PFACCOUNT_ID = #{pfacId,jdbcType=INTEGER}
    </select>

    <insert id="insertPfaccount" parameterType="PfaccountDto">

        insert into t_pf_account
            (
            PFACCOUNT_NM,
            PLATFORM_ID,
            MEMO,
            UPDT_BY,
            UPDT_TS)
        VALUES(

            #{pfaccountNm,jdbcType=VARCHAR},
            #{platformId,jdbcType=INTEGER},
            #{memo,jdbcType=VARCHAR},
            #{logId,jdbcType=INTEGER},
            CURRENT_TIMESTAMP())

    </insert>

    <delete id="delPfaccountByPfacid" parameterType="java.lang.Integer">
        delete from
        t_pf_account where PFACCOUNT_ID=#{pfacId,jdbcType=INTEGER}
    </delete>

    <update id="updPfaccountByPfacid" parameterType="PfaccountDto">
        update t_pf_account
        set PFACCOUNT_NM =  #{pfaccountNm,jdbcType=VARCHAR},
            MEMO =  #{memo,jdbcType=VARCHAR},
            UPDT_BY = #{logId,jdbcType=INTEGER},
            UPDT_TS =CURRENT_TIMESTAMP()
        where PFACCOUNT_ID = #{pfaccountId,jdbcType=INTEGER}
    </update>

    <select id="findPfaccountByPfacnm" parameterType="PfaccountDto"  resultType="PfaccountDto">
        SELECT
        PFACCOUNT_ID pfaccountId,
        PFACCOUNT_NM pfaccountNm,
        PLATFORM_ID platformId,
        MEMO memo
        FROM t_pf_account
        WHERE  PFACCOUNT_NM like  CONCAT('%', #{pfaccountNm,jdbcType=VARCHAR}, '%')
        and PLATFORM_ID=#{platformId,jdbcType=INTEGER}
    </select>

    <delete id="delPfaccountByPfid" parameterType="java.lang.Integer">
        delete from
        t_pf_account where PLATFORM_ID=#{pfId,jdbcType=INTEGER}
    </delete>

    <select id="checkPfaccountOnly" parameterType="PfaccountDto"  resultType="java.lang.Integer">
        SELECT count(*)
        FROM t_pf_account
        WHERE
         PLATFORM_ID=#{platformId,jdbcType=INTEGER}
        AND PFACCOUNT_NM = #{pfaccountNm,jdbcType=VARCHAR}
        and PFACCOUNT_ID &lt;> #{pfaccountId,jdbcType=INTEGER}
    </select>

    <select id="chkAddPfaccountOnly" parameterType="PfaccountDto"  resultType="java.lang.Integer">
        SELECT count(*)
        FROM t_pf_account
        WHERE
        PLATFORM_ID=#{platformId,jdbcType=INTEGER}
        AND PFACCOUNT_NM = #{pfaccountNm,jdbcType=VARCHAR}
    </select>
</mapper>