<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.csv.java.dao.PfaccountDao" >
    <select id="findPfaccountByPfid" parameterType="java.lang.Integer"  resultType="PfaccountDto">
        SELECT
            PFACCOUNT_ID pfaccountId,
            PFACCOUNT_NM pfaccountNm,
            PLATFORM_ID platformId,
            MEMO memo
        FROM T_PF_ACCOUNT
        WHERE  PLATFORM_ID = #{pfid,jdbcType=INTEGER}
    </select>

    <select id="findPfaccountByPfacid" parameterType="java.lang.Integer"  resultType="PfaccountDto">
        SELECT
        PFACCOUNT_ID pfaccountId,
        PFACCOUNT_NM pfaccountNm,
        PLATFORM_ID platformId,
        MEMO memo
        FROM T_PF_ACCOUNT
        WHERE  PFACCOUNT_ID = #{pfacid,jdbcType=INTEGER}
    </select>

    <insert id="insertPfaccount" parameterType="PfaccountDto">

        insert into T_PF_ACCOUNT
            (
            PFACCOUNT_NM,
            PLATFORM_ID,
            MEMO,
            UPDT_BY,
            UPDT_TS)
        VALUES(

            #{pfaccountNm,jdbcType=VARCHAR},
            #{platformId,jdbcType=INTEGER},
            #{memo,jdbcType=VARCHAR},
            #{logId,jdbcType=INTEGER},
            CURRENT_TIMESTAMP())

    </insert>

    <delete id="delPfaccountByPfacid" parameterType="java.lang.Integer">
        delete from
        T_PF_ACCOUNT where PFACCOUNT_ID=#{pfacid,jdbcType=INTEGER}
    </delete>

    <update id="updPfaccountByPfacid" parameterType="PfaccountDto">
        update T_PF_ACCOUNT
        set PFACCOUNT_NM =  #{pfaccountNm,jdbcType=VARCHAR},
            MEMO =  #{memo,jdbcType=VARCHAR},
            UPDT_BY = #{logId,jdbcType=INTEGER},
            UPDT_TS =CURRENT_TIMESTAMP()
        where PFACCOUNT_ID = #{pfaccountId,jdbcType=INTEGER}
    </update>

    <select id="findPfaccountByPfacnm" parameterType="java.lang.String"  resultType="PfaccountDto">
        SELECT
        PFACCOUNT_ID pfaccountId,
        PFACCOUNT_NM pfaccountNm,
        PLATFORM_ID platformId,
        MEMO memo
        FROM T_PF_ACCOUNT
        WHERE  PFACCOUNT_NM like  CONCAT('%', #{pfacnm,jdbcType=VARCHAR}, '%')
    </select>

    <delete id="delPfaccountByPfid" parameterType="java.lang.Integer">
        delete from
        T_PF_ACCOUNT where PLATFORM_ID=#{pfid,jdbcType=INTEGER}
    </delete>
</mapper>