
.m-input-div{
  border: 1px solid #ccc;
  padding:4px 6px;
  content: attr(value);

  /*只允许文本*/
  -webkit-user-modify: read-write-plaintext-only;
  user-modify: read-write-plaintext-only;
}

.m-input-div:empty:before{
  color: lightgrey;
  content: attr(placeholder);
}

.m-input-div:focus:before{
  content: none;
}

