<div style="margin-bottom: 16px;">
  <button nz-button [disabled]="disabledButton"
          [nzType]="'primary'" [nzLoading]="operating"
          (click)="operateData(tpl)">
    导出
  </button>
  <span style="margin-left: 8px;" *ngIf="checkedNumber">已选择 {{checkedNumber}} 件商品</span>
</div>
<div >
  <nz-table
    #rowSelectionTable
    nzBordered
    [nzData]="dataSet"
    [nzScroll]="{x:'1778px'}"
    [nzTitle]="'商品列表'"
    (nzCurrentPageDataChange)="currentPageDataChange($event)"
    (nzPageIndexChange)="refreshStatus()"
    (nzPageSizeChange)="refreshStatus()">
    <thead>
    <tr>
      <th nzShowCheckbox [(nzChecked)]="allChecked" [nzIndeterminate]="indeterminate" (nzCheckedChange)="checkAll($event)"></th>
      <th>图片</th>
      <th>sku</th>
      <th>供应商</th>
      <th>采购链接</th>
      <th>厂商编号</th>
      <th>单品&组合</th>
      <th>产品类别</th>
      <th>成本价格</th>
      <th>重量</th>
      <th>中文品名</th>
      <th>中文套组</th>
      <th>启用日期</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of rowSelectionTable.data">
      <td nzShowCheckbox [(nzChecked)]="data.checked" (nzCheckedChange)="refreshStatus($event)"></td>
      <td>{{data.picUrl}}</td>
      <td>{{data.sku}}</td>
      <td>{{data.address}}</td>
      <td>{{data.name}}</td>
      <td>{{data.age}}</td>
      <td>{{data.address}}</td>
      <td>{{data.name}}</td>
      <td>{{data.age}}</td>
      <td>{{data.address}}</td>
      <td>{{data.name}}</td>
      <td>{{data.age}}</td>
      <td>{{data.address}}</td>
      <td>{{data.address}}</td>
    </tr>
    </tbody>
  </nz-table>
</div>


<ng-template #tpl>
  <div class="ant-notification-notice-content">
    <div class="ant-notification-notice-with-icon">
      <span class="ant-notification-notice-icon"><i class="anticon anticon-smile-circle" style="color: rgb(16, 142, 233);"></i></span>
      <div class="ant-notification-notice-message">已选中商品</div>
      <div class="ant-notification-notice-description">
        <div nz-row>
          <div nz-col class="u-leaveOut" nzSpan="12" *ngFor="let info of checkedData;let i =index">{{info.name}}</div>
        </div>
      </div>
    </div>
  </div>
</ng-template>


<nz-modal [nzMaskClosable]="false"
          [(nzVisible)]="isVisible" [nzTitle]="modalTitle" [nzContent]="modalBody" [nzFooter]="modalFooter"
          (nzOnCancel)="handleCancel()">
  <ng-template #modalTitle>
    <h3 style="margin-bottom:0">选择条件</h3>
  </ng-template>
  <ng-template #modalBody>
    <div nz-col  nzSpan="24" style="margin-bottom: 16px">
      <span class="span_label_title">平台选择</span>
      <nz-select class="select_input"
                 [(ngModel)]="platformNm" (ngModelChange)="provinceAllChange(0,$event)"
                 nzAllowClear nzShowSearch
                 [nzServerSearch]="true" (nzOnSearch)="onSearchByPlat($event)">
        <ng-container *ngFor="let o of platList">
          <nz-option *ngIf="!platIsLoading"
                     [nzValue]="o.platformId" [nzLabel]="o.platformNm"></nz-option>
        </ng-container>
        <nz-option *ngIf="platIsLoading" nzDisabled nzCustomContent>
          <i class="anticon anticon-loading anticon-spin loading-icon"></i> Loading Data...
        </nz-option>
      </nz-select>
      <span class="span_label_title">账号选择</span>
      <nz-select class="select_input"  nzShowSearch nzAllowClear
                 [(ngModel)]="pfaccountNm"
                 (ngModelChange)="provinceAllChange(1,$event)"
                 [nzDisabled]="platformNm == null || platformNm == ''">
        <nz-option *ngFor="let c of accountList"
                   [nzValue]="c.pfaccountId" [nzLabel]="c.pfaccountNm"></nz-option>
      </nz-select>
    </div>
  </ng-template>
  <ng-template #modalFooter>
    <button nz-button nzType="default" (click)="handleCancel()">取消</button>
    <button nz-button nzType="primary" (click)="handleOk()" [nzLoading]="isConfirmLoading">确认</button>
  </ng-template>
</nz-modal>
