<div nz-col  nzSpan="24" style="margin-bottom: 16px">
  <span class="span_label_title" style="padding-left:0">sku或产品名称</span>
  <input class="select_input2" nz-input [(ngModel)]="skuSrc">
  <span class="span_label_title">产品类别</span>
  <nz-select class="select_input2"
             [(ngModel)]="ptypeNm"
             nzShowSearch nzAllowClear (ngModelChange)="selectAllChange(0,$event)">
    <nz-option *ngFor="let c of pTypeList"
               nz-tooltip nzTitle="{{c.typeName}}"
               [nzValue]="c.ptypeId" [nzLabel]="c.typeName"></nz-option>
  </nz-select>
  <span class="span_label_title">供应商</span>
  <nz-select class="select_input2"
             [(ngModel)]="sNm"
             nzShowSearch nzAllowClear (ngModelChange)="selectAllChange(1,$event)">
    <nz-option *ngFor="let c of supplierList"
               nz-tooltip nzTitle="{{c.supplierTitle}}"
               [nzValue]="c.sId" [nzLabel]="c.supplierTitle"></nz-option>
  </nz-select>

</div>
<div nz-col  nzSpan="24" style="margin-bottom: 16px">
  <span class="span_label_title" style="padding-left:0;padding-right: 49px">上架时间</span>
  <nz-range-picker
    [nzFormat]="'yyyy-MM-dd'"
    [(ngModel)]="sjDatetime"
    (ngModelChange)="onChangeDate($event)"
  ></nz-range-picker>
</div>


<div  nz-col  nzSpan="36">
  <div style="margin-bottom: 16px;">
    <button nz-button style=" margin-right: 20px;"
            [nzType]="'primary'"
            (click)="selectData()">
      搜索
    </button>
    <button nz-button style=" margin-right: 20px;" [disabled]="pageset.count == 0?true:false"
            [nzType]="'primary'"
            (click)="operateData(2)">
      导出所有
    </button>
    <button  nz-button [disabled]="disabledButton"
            [nzType]="'primary'"
            (click)="operateData(1)">
      导出
    </button>
    <span style="margin-left: 8px;" *ngIf="checkedNumber">已选择 {{checkedNumber}} 件商品</span>
  </div>
  <div >
    <nz-table
      #rowSelectionTable
      [nzFrontPagination]="false"
      nzBordered
      [nzData]="dataSet"
      [nzTitle]="'商品列表'"
      (nzCurrentPageDataChange)="currentPageDataChange($event)"
      [nzTotal] = "pageset.count"
      [(nzPageIndex)] = "pageset.pageIndex"
      [(nzPageSize)] = "pageset.pageSize"
      (nzPageIndexChange)="pageIndexChange()"
      >
      <thead>
      <tr>
        <th nzShowCheckbox [(nzChecked)]="allChecked" [nzIndeterminate]="indeterminate" (nzCheckedChange)="checkAll($event)"></th>
        <th nzWidth="100px">图片</th>
        <th nzWidth="240px">商品信息</th>
        <th>中文信息</th>
        <th>价格</th>
        <th nzWidth="110px">上架时间</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of rowSelectionTable.data">
        <td nzShowCheckbox [(nzChecked)]="data.checked" (nzCheckedChange)="refreshStatus($event)"></td>
        <td>
          <a [href]="'http://www.ewiderbuy.net/img_upload/'+data.picUrl"
             [rel]="'http://www.ewiderbuy.net/img_upload/'+data.picUrl"
             class="preview" target="_blank" title="">
            <img style="max-width: 100px;    max-height: 100px;" [src]="'http://www.ewiderbuy.net/img_upload/'+data.picUrl"
                 border="0">
          </a>
          <!--{{data.picUrl}}-->

        </td>
        <td>
          <p>sku: {{data.sku}}</p>
          <p class="u-leaveOut p_width_207" title="{{data.ptypeNm }}">产品类别: {{data.ptypeNm}}</p>
          <p >供应商: {{data.sNm}}</p>
        </td>
        <td>
          <p class="u-leaveOut p_width_464" title="{{data.pmCn }}">中文品名: {{data.pmCn }}</p>
          <p class="u-leaveOut p_width_464" title="{{data.setCn }}">中文套组: {{data.setCn }}</p>
        </td>
        <td>
          <p>成本: {{data.basePrice}}</p>
          <p>重量: {{data.weight}}</p>
        </td>
        <td >{{data.sjDatetime }}</td>
      </tr>
      </tbody>
    </nz-table>
  </div>
</div>


<ng-template #tpl>
  <div class="ant-notification-notice-content">
    <div class="ant-notification-notice-with-icon">
      <div *ngIf="isOutLimit">
        <span class="ant-notification-notice-icon"><i class="anticon anticon-exclamation-circle" style="color:  rgba(255, 193, 7, 0.78);"></i></span>
        <div class="ant-notification-notice-message" >可导出数据超出导出限制条数（{{outLimit}}），部分数据没有被导出</div><br>
      </div>
      <div *ngIf="noCsvTempList.length !=  0">
        <span class="ant-notification-notice-icon"><i class="anticon anticon-exclamation-circle" style="color:  rgba(255, 193, 7, 0.78);"></i></span>
        <div class="ant-notification-notice-message" >导出失败商品</div>
          <div class="ant-notification-notice-description">
            <div nz-row>
              <div nz-col class="u-leaveOut padding_0_3" nzSpan="12" *ngFor="let info of noCsvTempList;let i =index"
                   title="{{info.sku + ' - '+info.pmCn}}">{{info.sku + ' - '+info.pmCn}}</div>
            </div>
          </div>
        </div>
    </div>
  </div>
</ng-template>


<nz-modal [nzMaskClosable]="false"
          [(nzVisible)]="isVisible" [nzTitle]="modalTitle" [nzContent]="modalBody" [nzFooter]="modalFooter"
          (nzOnCancel)="handleCancel()">
  <ng-template #modalTitle>
    <h3 style="margin-bottom:0">选择条件</h3>
  </ng-template>
  <ng-template #modalBody>
    <div nz-row >
      <div nz-col  nzSpan="24" style="margin-bottom: 16px">
        <span class="span_label_title">平台选择</span>
        <nz-select class="select_input"
                   [(ngModel)]="platformNm" (ngModelChange)="provinceAllChange(0,$event)"
                   nzAllowClear nzShowSearch
                   [nzServerSearch]="true" (nzOnSearch)="onSearchByPlat($event)">
          <ng-container *ngFor="let o of platList">
            <nz-option *ngIf="!platIsLoading"
                       [nzValue]="o" [nzLabel]="o.platformNm"></nz-option>
          </ng-container>
          <nz-option *ngIf="platIsLoading" nzDisabled nzCustomContent>
            <i class="anticon anticon-loading anticon-spin loading-icon"></i> Loading Data...
          </nz-option>
        </nz-select>
        <span class="span_label_title">账号选择</span>
        <nz-select class="select_input"  nzShowSearch nzAllowClear
                   [(ngModel)]="pfaccountNm"
                   (ngModelChange)="provinceAllChange(1,$event)"
                   [nzDisabled]="platformNm == null || platformNm == ''">
          <nz-option *ngFor="let c of accountList"
                     [nzValue]="c" [nzLabel]="c.pfaccountNm"></nz-option>
        </nz-select>
      </div>
    </div>
  </ng-template>
  <ng-template #modalFooter>
    <button nz-button nzType="default" (click)="handleCancel()">取消</button>
    <button nz-button nzType="primary" (click)="handleOk(tpl)" [nzLoading]="isConfirmLoading">确认</button>
  </ng-template>
</nz-modal>
