<h2>自定义公式
  <span style="
    float: right;
    margin-top: -3px;
    margin-right: 7px;"><button nz-button nzType="primary" (click)="addData()">
        <i class="anticon anticon-plus"></i></button></span>
</h2>
<div nz-row class="temp_edit_table">
  <div nz-col nzSpan="24">
    <div nz-col nzSpan="4">
      价格可用变量
    </div>
    <div nz-col nzSpan="20">
      <span>$baseprice 成本,$mll 毛利率,$ryhl 日元汇率,$myhl
      欧美汇率,$cnlowsalesprice 淘宝售价,$rblowsalesprice
      日本最低售价,$omlowsalesprice 欧美最低售价</span>
    </div>
  </div>
  <div *ngFor="let temp of csvCustomFields;let i=index" nz-col nzSpan="24">
    <div nz-col nzSpan="4">
      <input nz-input  [(ngModel)]="temp.cfieldNm">
    </div>
    <div nz-col nzSpan="18">
      <input nz-input  [(ngModel)]="temp.cfieldValue">
    </div>
    <div nz-col nzSpan="2">
      <button nz-button nzType="primary" nz-popconfirm
              nzTitle="确认删除" nzOkText="确认" nzCancelText="取消"
              (nzOnConfirm)="deleteData(i,temp)"
      ><i class="anticon anticon-delete"></i></button>
    </div>
  </div>
</div>
