.temp_edit_table{
  border: 1px solid #cccccc;
  border-radius: 3px;
  margin-bottom: 24px;
}

.temp_edit_table>.ant-col-24{
  border-bottom: 1px solid #ccc;
}

.temp_edit_table>.ant-col-24:nth-last-child(1){
  border-bottom: 0;
}

.temp_edit_table>.ant-col-24>div{
  padding: 6px;
}

.temp_edit_table>.ant-col-24>div:nth-child(2){
  border-left: 1px solid #ccc;
}
.temp_edit_table>.ant-col-24>div:nth-child(3){
  border-left: 1px solid #ccc;
}
