

<div  class="virtual-body" >
  <div  class="img-body"  >
    <img class="img-set"  src="/home.jpg" >
  </div>
  <div class="login-reg-enter">
    <div class="login-reg-enter-padding" >
      <div class="login-reg-border">
        <div class="login-reg-border-left-top"></div>
        <div class="login-reg-border-right-top"></div>
        <div class="login-reg-border-left-bottom"></div>
        <div class="login-reg-border-right-bottom"></div>
      </div>
      <div class="login-reg-body">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>

</div>

